
.bg {
    background: rgb(239, 243, 241);
}

.bg-active {
    background: rgba(214, 219, 217, 0.849);
}

.bg-logo {
    background-image: url('../public/back.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 65rem) {
    .bg-logo {
        background-image: url('../public/back.png');
        background-position: -200px 0px; 
    }
}

.rounded-t-4xl {
    border-top-left-radius: 2.8rem; /* 24px */
    border-top-right-radius: 2.8rem; /* 24px */
}
