
.bg {
    background: rgb(239, 243, 241);
}

.bg-active {
    background: rgba(214, 219, 217, 0.849);
}

.bg-logo {
    background-image: url('../public/back.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 65rem) {
    .bg-logo {
        background-image: url('../public/back.png');
        background-position: -200px 0px; 
    }
}

@media only screen and (max-width: 767px) {
    .rounded-t-4xl {
        border-top-left-radius: 2.5rem; /* 24px */
        border-top-right-radius: 2.5rem; /* 24px */
    }
    .bg-blur {
        background-color: rgba(255, 255, 255, 0.758);
        backdrop-filter: blur(25px);
    }
    .button-blur {
        background-color: rgb(133, 133, 133);
    }
}


