
.bg {
    background: rgb(239, 243, 241);
}

.bg-active {
    background: rgba(214, 219, 217, 0.849);
}

.bg-logo {
    background-image: url('../public/back.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.line-height-2 {
    line-height: 1.8;
}


.text-shadow {
    text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.text-shadow-md {
    text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
}

.text-shadow-lg {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.219)
}

.text-shadow-none {
    text-shadow: none;
}




@media only screen and (max-width: 65rem) {
    .bg-logo {
        background-image: url('../public/back.png');
        background-position: -200px 0px; 
    }
}

.h-nav{
 height: 4.7rem;
}

.w-logo{
    width: 5.5rem;
}

.h-w-hamburger {
    width: 2.25rem;
    height: 2.25rem;
}

@media only screen and (max-width: 767px) {
    .rounded-t-4xl {
        border-top-left-radius: 2.5rem; /* 24px */
        border-top-right-radius: 2.5rem; /* 24px */
    }
    .bg-blur {
        background-color: rgba(255, 255, 255, 0.758);
        backdrop-filter: blur(25px);
    }
    .button-blur {
        background-color: rgb(133, 133, 133);
    }
}


